/* Global Styles */
body {
  background: #f9f9f9;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-style: normal;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  background-color: white;
  border-top: 1px solid #e5e7eb;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation Icon */
.nav-icon {
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.nav-icon:hover,
.nav-icon.active {
  background-color: #b7e72f;
}

@media (max-width: 768px) {
  .nav-icon {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0.5rem 0;
  }

  .nav-icon:hover,
  .nav-icon.active {
    background-color: transparent;
  }
}

/* Page Label */
.page-label {
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
}

/* Dashboards */
.tab-button {
  display: inline-block;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.tab-button.active {
  border-color: #38a169;
  color: #38a169;
  font-weight: bold;
}

#dashboard2,
#dashboard3 {
  display: none;
}

/* Card Styles */
.card,
.food-list-card,
.ingredient-card,
.home-card {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(193, 209, 146, 0.08);
  transition: background 0.3s ease;
  box-sizing: border-box;
  margin: 8px;
  padding: 16px;
  text-align: center;
  overflow: hidden;
  flex: 0 0 auto;
}

.card {
  width: 240px;
  min-height: 300px;
}

.food-list-card {
  width: 180px;
  min-height: 240px;
}

.ingredient-card {
  width: 110px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:hover,
.food-list-card:hover,
.ingredient-card:hover,
.home-card:hover {
  background: #b7e72f;
}

.ingredient-card.selected {
  background-color: #b7e72f;
}

.image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  max-height: 200px;
  height: auto;
  width: auto;
}

.food-list-card .image-container img {
  max-height: 150px;
  height: auto;
  width: auto;
}

/* Ingredient Card Elements */
.ingredient-card .p-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ingredient-card img {
  width: 50px;
  height: 50px;
}

.ingredient-btn img {
  width: 24px;
  height: 24px;
}

/* Food Container */
.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

@media (min-width: 1200px) {
  .food-container {
    justify-content: flex-start;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .food-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .food-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .food-container {
    justify-content: center;
  }
}

/* Reminder */
.reminder {
  background: rgba(227, 3, 3, 0.06);
  color: #fb8080;
  border-radius: 30px;
  padding: 10px;
}

/* Text Styles */
.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #322c2c;
}

.sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #bfbfbf;
}

/* Expiry Date Tracker */
.input {
  background: #fdfdfd;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.input-box {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 150px;
  height: 150px;
  background: #d9d9d93d;
  border-radius: 10px;
}

.food-item {
  background: #e1f99c;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.identified-box {
  background: #cdea78;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

/* Shelf Label */
.shelf-label {
  padding: 0.5rem;
  color: #f9f9f9;
  background: #b7e72fba;
  border-radius: 30px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* Ingredient Button */
.ingredient {
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.ingredient:hover {
  background: #ffffff;
}

.ingredient:active {
  background-color: #ffffff;
}

/* Upload / Scan */
#video,
#canvas {
  display: none;
  width: 100%;
  max-width: 500px;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Responsive File Input and Take Photo Button */
@media (max-width: 640px) {
  #fileInput,
  #takePhotoBtn {
    display: block;
  }
}
